#about {
  display: flex;
  justify-content: center;
  min-height: unset;

  h2 {
    
    margin-bottom: 50px;
  }

  p {
    position: relative;
  }

  .ellipse2 {
    left: 380px;
    top: 229px;
  }
}

.about__text {
  max-width: 630px;
  margin-top: -6px;
}

.about__image {
  margin-top: -23px;

  img {
    width: 100%;
    height: auto;
  }
}

.about-dot1 {
  left: 17px;
  top: 120px;
  opacity: 0.8;
}