#about {
  display: flex;
  justify-content: center;

  h2 {
    margin-bottom: 50px;
  }

  p {
    position: relative;
  }

  .ellipse2 {
    left: 380px;
    top: 229px;
  }
}

.about__text {
  max-width: 630px;
  margin-top: 60px;
}

.about__image {
  margin-top: 40px;

  img {
    width: 100%;
    height: auto;
  }
}

.about-dot1 {
  left: 0;
  top: 144px;
}