#advantages {
  display: flex;
  justify-content: center;
  min-height: unset;
}

.advantages__cards {
  display: flex;
  flex: 1;
  justify-content: space-between;
  min-height: auto;
  max-width: 1290px;
  position: relative;
  left: -20px;
}

.advantages__card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;

  h4 {
    margin-top: 5px;
    max-width: 320px;
  }
}

.img-container {
  position: relative;

  .blur {
    position: absolute;
    top: -18px;
    left: 16px;
  }
}