#certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 45px;

  h2 {
    margin-top: 90px;
    margin-bottom: 45px;
  }

  .ellipse2 {
    left: 1398px;
    top: 98px;
  }
}

.certificate__cards {
  max-width: 1290px;
  display: flex;
  gap: 30px;
  position: relative;
}