#certificate {
  padding-bottom: 45px;
  h2 {
    margin-top: 90px;
    margin-bottom: 45px;
    @media (max-width: $px480) {
      text-align: center;
    }
  }

  .ellipse2 {
    left: 1398px;
    top: 98px;
  }
}

.certificate__content {
  max-width: 1290px;
  margin: 0 auto;
}

.certificate__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
