#contacts {
    position: relative;
}

.contacts {
    position: relative;
    top: -148px;
    z-index: 1;
    width: 520px;
    padding: 50px 30px;
    background: #ffffff;
    border-radius: 10px;

    @media (max-width: 1290px) {
        top: unset;
        width: 100%;
    }

    @media (max-width: 1023px) {
        padding: 50px 0;
    }

    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 41px;
        color: #030011;

        @media (max-width: 1023px) {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-top: 40px;
    }

    &__item {
        display: grid;
        grid-template-columns: 75px auto;
        column-gap: 30px;

        @media (max-width: 335px) {
            column-gap: 10px;
        }

        &-left {
            font-size: 17px;
            line-height: 140%;
            color: #030011;
        }

        &-right {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &-link {
                font-weight: 700;
                font-size: 17px;
                line-height: 140%;
                color: #030011;
            }

            &-text {
                font-weight: 700;
                font-size: 17px;
                line-height: 140%;
                color: #030011;
            }
        }
    }
}

.map {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 680px;
    z-index: 0;

    @media (max-width: 1290px) {
        position: relative;
    }

    @media (max-width: 1023px) {
        height: 560px;
    }

    @media (max-width: 768px) {
        height: 500px;
    }

    @media (max-width: 480px) {
        height: 400px;
    }
}
