#form {
    position: relative;
    z-index: 2;
    top: -228px;

    @media (max-width: 1290px) {
        top: 0;
    }
}

.form {
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(93.4deg, #0F00B6 0%, #0009E8 100%);
    border-radius: 10px;

    @media (max-width: 1290px) {
        border-radius: 0;
    }

    &__title {
        text-align: center;
        font-size: 40px;
        line-height: 41px;
        color: #FFFFFF;
    }

    &__text {
        margin-top: 30px;
        font-size: 17px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
    }

    &__container {
        margin-top: 30px;

        form {
            width: 984px;
            margin: 0 auto;

            @media (max-width: 1023px) {
                width: 100%;
            }
        }
    }

    &__input {
        background: none;
        border: 2px solid #D8D8EC;
        border-radius: 6px;
        padding: 12px 20px 16px;
        font-size: 16px;
        line-height: 140%;
        color: #030011;

        &::placeholder {
            color: #D8D8EC;
        }

        &:focus {
            background: #ffffff;
        }

        &-group {
            display: grid;
            grid-template-columns: 336px 360px auto;
            column-gap: 20px;

            @media (max-width: 1023px) {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 360px;
                margin: 0 auto;
            }

            @media (max-width: 420px) {
                width: 100%;
            }
        }
    }
}
