#partners {
   margin-top: 80px;
}

.partners {
    &__title {
        font-size: 40px;
        line-height: 41px;
        text-align: center;
        color: #030011;
    }

    &__list {
        margin-top: 40px;
    }
}
