#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;

  .ellipse2 {
    left: 85px;
    top: 65px;
  }

  .ellipse3 {
    left: 1574px;
    top: 302px;
  }

  .ellipse4 {
    left: 961px;
    top: 744px;
  }

  h2 {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    padding-left: 15px;
  }

  h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    max-width: 410px;
    min-width: 410px;
  }

  p {
    font-family: 'Open Sans';
    max-width: 620px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    // outline: 1px solid red;
  }
}

.services__content {
  width: 100%;
  max-width: 1317px;
}

.services__cards {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  left: -15px;
  top: -10px;
  position: relative;
}

.services__card {
  display: flex;
  gap: 40px;
  padding: 20px 30px;
  width: 100%;
  transition: all 0.2s;
  border-radius: 8px;
  position: relative;
  width: 1365px;

  &__btn-cta {
    display: none;
    width: 181px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #00AE31;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    // ГРАДИЕНТ ДЛЯ ТЕКСТА
    background: -webkit-linear-gradient(93.58deg,
        #00AA30 0%,
        #00D03A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    &:hover {
      background: #FFFFFF;
      color: #00AE31;
      background-clip:inherit;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
      border: none;
    }
  }

  &:hover {
    background: #00AE31;

    button {
      display: block;
    }
  }
}

.services-dot1 {
  top: -8.6vh;
  right: 0.8vw;
  opacity: 0.6;
}

.btn-bg {
  background-color: #FFFFFF;
  border-radius: 8px;
  height: 55px;
  position: relative;
  right: -20px;
}