.header {
  background-color: #00110A;
  color: #fff;
  padding: 10px 315px;
  position: fixed;
  width: 100%;
  z-index: 999;

}


.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $px768) {
    justify-content: flex-start;
  }

  &-logo {
    margin-right: auto;
  }

  &-contacts {
    margin-right: 50px;
  }

  .header__top-contacts-phone {    
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }
}


//.headerFixed.active {
//    width: 100vw;
//    height: 100vh;
//    position: fixed;
//    top: 0;
//    z-index: 2000;
//    background: #ffffff;
//}