.header {
  background-color: #00110A;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  justify-content: center;
  display: flex;
}


.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1290px;
  flex: 1;

  @media (max-width: $px768) {
    justify-content: flex-start;
  }

  &-logo {
    cursor: pointer;
    @media (max-width: $px768) {
      margin-right: auto;
    }
  }

  &-contacts {
    @media (max-width: $px768) {
      margin-right: 50px;
    }
  }
  
  .header__top-contacts-phone {
    transition: all 0.2s;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }
}

//.headerFixed.active {
//    width: 100vw;
//    height: 100vh;
//    position: fixed;
//    top: 0;
//    z-index: 2000;
//    background: #ffffff;
//}