.nav {
  display: flex;
  column-gap: 60px;

  &__list {
    &-header {
      a {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        transition: all .15s ease;
      }
    }
  }
}