.nav {
  display: flex;
  column-gap: 60px;
  @media (min-width: $px768) {
    display: none;
  }

  &__list {
    &-header {
      a {
        font-weight: 500;
        font-size: 20px;
        line-height: 44px;
        color: #fff;
        transition: all .15s ease;
      }
    }
  }
}