
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2'), url('../fonts/OpenSans-Bold.woff');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2'), url('../fonts/OpenSans-Regular.woff');
}
@font-face {
  font-family: 'Alumni Sans';
  src: url('../fonts/AlumniSans-Bold.ttf');
}
@font-face {
  font-family: 'Alumni Sans';
  src: url('../fonts/AlumniSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'Alumni Sans';
  src: url('../fonts/AlumniSans-Medium.ttf');
}


@import "utils/_index.scss";
@import "layouts/_index";
@import "UI/_index";
@import "layouts/section.scss";
@import "sections/_index.scss";
//@import "components/_index";
//@import "sections/_index";
